@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

html,
body {
  background-color: #EFEFEF;
}

.cursor-pointer {
  cursor: pointer;
}

.toast-container {
  margin-top: 10px;
}

.toast {
  opacity: 1 !important;
  max-width: 95% !important;
}

.font-destaque {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background: #FFF;
  padding: 6px 30px;
  border: solid 1px #333;
  border-radius: 20px;

  transition: all 0.2s;

  &:hover {
    background: #e7e7e7 !important;
  }
}

button.dark {
  background: #C4C4C4;
}

input[type="text"], input[type="password"] {
  border-radius: 30px;
}

.no-border {
  border: none;
}

/* Router Transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
