@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

html,
body {
  background-color: #efefef;
  color: #333;
}

.cursor-pointer {
  cursor: pointer;
}

.toast-container {
  margin-top: 10px;
}

.toast {
  opacity: 1 !important;
  max-width: 95% !important;
}

.font-destaque {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background: #fff;
  padding: 6px 30px;
  border: solid 1px #333;
  border-radius: 20px;

  transition: all 0.2s;

  &:hover {
    background: #e7e7e7;
  }
}

button.secondary {
  background: $secondary;
  color: #FFF;

  &:hover {
    opacity: 0.8;
  }
}

button.btn-alert {
  background: $alert;
  color: #FFF;

  &:hover {
    opacity: 0.8;
  }
}

.color-alert {
  color: $alert;
}

input[type="text"],
input[type="password"] {
  border-radius: 30px;
}

.no-border {
  border: none;
}

.top-background {
  background-size: cover;
  height: 90vh;
  width: 100%;
  z-index: 2;
  position: relative;
  background-attachment: fixed;
}

/* Router Transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
